*,
*::before,
*::after {
  user-select: none;
}

.bio,
.scores {
  width: 400px;
  height: 650px;
  box-shadow: black 1px 1px 16px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-container {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

.bio {
  margin: 16px 0 0 256px;
  justify-self: flex-start;
}

.scores {
  margin: 16px 256px 0 auto;
}

h1 {
  text-align: center;
}

button {
  width: 100px;
  height: 25px;
  background-color: transparent;
  border-radius: 100px;
  box-shadow: black 1px 1px 8px;
}

button:hover {
  font-weight: bold;
  background-color: gray;
}

.btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-btns-container {
  display: flex;
  flex-direction: column;
}